@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,600&display=swap');
/* 
font-family: 'Open Sans', sans-serif; 
*/

body{
    font-family: 'Open Sans', sans-serif;
}
/* Nav related styles */
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    margin: 0;
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    text-align: center;
    
}
.click-primary{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    padding: 18px 35px;
    transition: 0.3s;
    border-radius: 10px;
}
.click-primary:hover{
    color: #ffffff;
    background: #FD6E0A;
}
nav h3{
    margin: 0;
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav h3 span{
    color: #FD6E0A;
}