@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,600&display=swap');
/* 
font-family: 'Open Sans', sans-serif; 
*/

/* Common Css */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    background: #FFF8F3;
    font-size: 20px;
    font-weight: 400;
    padding: 18px 35px;
    transition: 0.3s;
    border-radius: 10px;
    margin-right: 20px;
}
.btn-primary:hover{
    color: #ffffff;
    background: #FD6E0A;
}
.click-primary{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    padding: 18px 35px;
    transition: 0.3s;
    border-radius: 10px;
}
.click-primary:hover{
    color: #ffffff;
    background: #FD6E0A;
}


/*
==============[Header Area]==============
*/

.header-area{
    background-color: #FFF8F3;
}
/* Nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    margin: 0 200px;
}
nav ul{
    margin: 0;
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    text-align: center;
    
}

nav h3{
    margin: 0;
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav h3 span{
    color: #FD6E0A;
}

/* Banner area style */

.banner{
    margin: 30px 30px 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner img{
    width: 500px;
}
.banner-item h4{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-item h3{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 0;
}
.banner-item p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}